$race_width: 195px;
$race_height: 196px;

/*-------------------------------------------------------------------------*/
/* # MOOP PAGE
/*-------------------------------------------------------------------------*/
svg.race-clipping {
    position: absolute;
    width: 0;
    height: 0;
}

.moop {
    background: #10081B url(../img/moop/bg.gif);
    width: 100%;
    min-height: 120%;
    padding-top: 10%;
    overflow: hidden;
    text-align: center;
    position: relative;

    .race-wrapper {
        margin: auto;
        max-width: 1266px;


        .race {
            position: absolute;
            top: 0;
            left: 0;
            width: 195px;
            height: 234px;
            display: inline-block;
            margin: 0 5px;
            position: relative;

            // background
            &:before {
                background: url(../img/moop/background.svg);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                width: $race_width;
                height: $race_height;
            }

            // avatar
            svg.race_avatar {
                position: relative;
                z-index: 2;
                opacity: 0.75;
                width: $race_width;
                height: $race_height;
                @include transition(all 0.3s linear);
            }

            // border
            &:after {
                background: url(../img/moop/border.svg);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                opacity: 0.2;
                width: $race_width;
                height: $race_height;
                @include transition(all 0.3s linear);
            }

            // text
            span.race_text {
                display: block;
                letter-spacing: 0.8px;
                line-height: 15px;
                text-transform: uppercase;
                font-family: "Roboto Condensed",sans-serif;
                font-weight: 300;
                font-size: 11px;
                display: block;
                color: #ffd951;
                @include transition(all 0.3s linear);
            }

            &.race__published {
                &:hover {
                    svg.race_avatar {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 0.5;
                    }

                    span.race_text {
                        color: #fff;
                    }
                }
            }

            &.race__current {
                &:before {
                    opacity: 0.06;
                }

                svg.race_avatar {
                    opacity: 1;
                }

                &:after {
                    opacity: 0.4;
                    background: url(../img/moop/border_current.svg);
                }

                &:hover {
                    span.race_text {
                        color: #fff;
                    }
                }
            }

            &.race__special {
                &:after {
                    opacity: 1;
                    background: url(../img/moop/border_special.svg);
                }

                &:hover {
                    span.race_text {
                        color: #fff;
                    }
                }
            }
        }
    }
}

