/*-------------------------------------------------------------------------*/
/* # SVG EXPERIMENTS
/*-------------------------------------------------------------------------*/
.svg-experiments {
    background: #10081B url(../img/svg-experiments/bg.gif);
    width: 100%;
    min-height: 120%;
    padding-top: 10%;
    overflow: hidden;
    text-align: center;
    position: relative;

    .race-wrapper {
        margin: auto;
        max-width: 1266px;

        svg.race-clipping {
            position: absolute;
            width: 0;
            height: 0;
        }

        .race {
            position: absolute;
            top: 0;
            left: 0;
            width: 195px;
            height: 234px;
            display: inline-block;
            margin: 0 5px;
            position: relative;

            span.race_background {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                opacity: 0;
                display: block;
                background: url(../img/svg-experiments/background.svg);
                width: 195px;
                height: 196px;
            }

            svg.race_avatar {
                position: relative;
                z-index: 2;
                opacity: 0.75;
                width: 195px;
                height: 196px;
                @include transition(all 0.3s linear);
            }

            span.race_border {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 3;
                display: block;
                opacity: 0.2;
                width: 195px;
                height: 196px;
                background: url(../img/svg-experiments/border.svg);
                @include transition(all 0.3s linear);
              }

            span.race_title {
                display: block;
                letter-spacing: 0.8px;
                line-height: 15px;
                text-transform: uppercase;
                font-family: "Roboto Condensed",sans-serif;
                font-weight: 300;
                font-size: 11px;
                display: block;
                color: #ffd951;
                @include transition(all 0.3s linear);
            }

            &:hover {
                span.race_title {
                    color: #fff;
                }
            }

            &.race__published {

                // svg.race_avatar {
                //     opacity: 1;
                // }

                // span.race_border {
                //     opacity: 0.4;
                // }
            }

            &.race__current {

                span.race_background {
                    opacity: 0.06;
                }

                svg.race_avatar {
                    opacity: 1;
                }

                span.race_border {
                    opacity: 0.4;
                    background: url(../img/svg-experiments/border_current.svg);
                }
            }

            &.race__special {

                span.race_border {
                    opacity: 1;
                    background: url(../img/svg-experiments/border_special.svg);
                }
            }
        }
    }
}

