//	Typography
.gigantic, .huge, .large, .bigger, .big, 
h1, h2, h3, h4, h5, h6 {
	color: $accent-color;
	font-weight: 700;
	text-transform: uppercase;
	// margin: 0 0 20px;
}

// .gigantic {
	// font-size: 110px;
	// line-height: 1.09;
	// letter-spacing: -2px;
// }

.huge, h1 {
	font-size: 42px;
	line-height: 1.4;
}

.large, h2 {
	font-size: 34px;
	line-height: 1.4;
}

.bigger, h3 {
	font-size: 26px;
	line-height: 1.4;
}

.big, h4 {
	font-size: 16px;
	line-height: 1.4;
}

.small, small {
	font-size: 10px;
	line-height: 1.2;
}

p {
	margin: 0 0 20px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}



// Links
a {
	color: $link-color;
	text-decoration: none;
	outline: 0;
	@include transition(all 0.2s);

	&:hover, &:focus {
		color: $link-color-hover;
	}
}



// Selection colors (easy to forget)
::selection {
	background: $selection-color;
}

::-moz-selection {
	background: $selection-color;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	-webkit-tap-highlight-color: $selection-color;
}



// Basic Styles
html {
	position: relative;
	height: 100%;
}

body {
	background: $bg-color;
	font-size: 16px;
	line-height: 1.5;
	// font-family: 'Open Sans' sans-serif;
	// font-family: 'Arial' sans-serif;
	// font-family: 'Open Sans' sans-serif;
	// font-family: 'Fauna One', Georgia, serif;
	// font-family: 'Roboto', Arial, sans-serif;
	font-family: 'Julius Sans One', sans-serif;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	position: relative;
	height: 100%;
	text-align: center;

}
