<footer class="footer">
    <nav class="menu">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/refills/">Refills</a>
        <a href="{{ site.baseurl }}/moop/">Moop</a>
        <a href="{{ site.baseurl }}/wowpp/">Wowpp</a>
    </nav>
    <h4>Contact:</h4>
    <nav class="contact">
        <p><i class="fa fa-envelope-o"></i> <a href="mailto:ihororlovskyi@gmail.com?subject=Hello Ihor">ihororlovskyi@gmail.com</a></p>
        <p><i class="fa fa-skype"></i> sentimony</p>
        <p><i class="fa fa-phone"></i> +38(095)3452589</p>
    </nav>
    <h4>Let's be in touch:</h4>
    <nav class="social">
        <a href="https://www.linkedin.com/in/ihororlovskyi" target="_blank"><i class="fa fa-linkedin"></i><span>linkedin</span></a>
        <a href="http://www.facebook.com/ihororlovskyi" target="_blank"><i class="fa fa-facebook-f"></i><span>facebook</span></a>
        <a href="https://github.com/ihororlovskyi" target="_blank"><i class="fa fa-github"></i><span>github</span></a>
        <a href="https://soundcloud.com/irukanji-music" target="_blank"><i class="fa fa-soundcloud"></i><span>soundcloud</span></a>
        <a href="https://instagram.com/ihororlovskyi" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a>
        <a href="https://plus.google.com/104535536639391603666" target="_blank"><i class="fa fa-google-plus"></i><span>google+</span></a>
        <a href="https://twitter.com/ihororlovskyi" target="_blank"><i class="fa fa-twitter"></i><span>twitter</span></a>

        <a class="hide" href="https://vk.com/ihororlovskyi" target="_blank"><i class="fa fa-vk"></i> vk</a>
        <a class="hide" href="https://bandcamp.com/ihororlovskyi" target="_blank">bandcamp</a>
        <a class="hide" href="https://www.youtube.com/c/igororlovskiy" target="_blank"><i class="fa fa-youtube"></i> youtube</a>
        <a class="hide" href="http://ihororlovskyi.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i> tumblr</a>
        <a class="hide" href="https://www.flickr.com/photos/98661136@N03" target="_blank"><i class="fa fa-flickr"></i> flickr</a>
        <a class="hide" href="https://vimeo.com/ihororlovskyi" target="_blank"><i class="fa fa-vimeo-square"></i> vimeo</a>
        <a class="hide" href="https://foursquare.com/user/53103406" target="_blank"><i class="fa fa-foursquare"></i> foursquare</a>
        <a class="hide" href="http://www.behance.net/ihororlovskyi" target="_blank"><i class="fa fa-behance"></i> behance</a>
        <a class="hide" href="https://dribbble.com/ihororlovskyi" target="_blank"><i class="fa fa-dribbble"></i> dribbble</a>
        <a class="hide" href="https://www.pinterest.com/ihororlovskyi" target="_blank"><i class="fa fa-pinterest-p"></i> pinterest</a>
        <a class="hide" href="https://www.etsy.com/people/ihororlovskyi" target="_blank">etsy</a>
        <a class="hide" href="http://ihororlovskyi.deviantart.com" target="_blank">deviantart</a>
        <a class="hide" href="https://trello.com/ihororlovskyi" target="_blank">trello</a>
        <a class="hide" href="https://gitlab.com/u/ihororlovskyi" target="_blank">gitlab</a>
    </nav>
</footer>

