<style>
    section.svg-stroke {
        padding: 50px 30%;
    }

    #eagle {
        fill: none;
        stroke: #8e44ad;
        stroke-width: 3;
        stroke-dasharray: 5000;
        stroke-dashoffset: 0;
        -webkit-animation: dash 5s linear;
        -moz-animation: dash 5s linear;
        animation: dash 5s linear;
    }

    @-webkit-keyframes dash {
        from {
            stroke-dashoffset: -5000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    @-moz-keyframes dash {
        from {
            stroke-dashoffset: -5000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes dash {
        from {
            stroke-dashoffset: -5000;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
</style>

<section class="svg-stroke">

    {% include svg/eagle.svg %}

    <!-- <object>
        <embed src="{{ site.baseurl }}/assets/img/eagle.svg">
    </object> -->
</section>

