
<section class="top-back">
	<article>
		<div class="fractal">
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
			<div class="wip"></div>
		</div>
		<h1>Ihor Orlovskyi</h1>
		<h2>Web Scientist, Front-end Engineer & Psychedelic Musician</h2>
	</article>
</section>

