
<section class="works">

    <h4>Works:</h4>

    <article>
        <h3><a href="http://skoryk-competition.com/" target="_blank">Skoryk Competition 2016</a></h3>
        <p>Web development of Skoryk Competition 2016 site</p>
    </article>

    <article>
        <h3><a href="http://rooooster.com" target="_blank">Rooster Studio</a></h3>
        <p>Web development of Rooster Studio site</p>
    </article>

    <article>
        <h3><a href="http://iondigi.com" target="_blank">ION Digital</a></h3>
        <p>Web development of ION Digital site</p>
    </article>

    <article>
        <h3><a href="http://artkb.net" target="_blank">ARTKB</a></h3>
        <p>Web development of ARTKB site</p>
    </article>

    <article>
        <h3><a href="http://qubiostudio.com" target="_blank">Qubio Studio</a></h3>
        <p>Web development of Qubio Studio site</p>
    </article>

    <article>
        <h3><a href="http://motionups.com" target="_blank">Motionups</a></h3>
        <p>Web development of Motionups site</p>
    </article>

    <article>
        <h3><a href="http://tripmeapps.com" target="_blank">TripMe Apps</a></h3>
        <p>Web development of TripMe Apps site</p>
    </article>

    <article>
        <h3><a href="http://promorepublic.com" target="_blank">PromoRepublic</a></h3>
        <p>Web development of PromoRepublic site</p>
    </article>

    <article>
        <h3><a href="http://irukanji-music.com" target="_blank">Irukanji</a></h3>
        <p>Web development of Irukanji site</p>
    </article>

    <article>
        <h3><a href="http://aquadeepmusic.com" target="_blank">Aqua Deep Music</a></h3>
        <p>Web development of Aqua Deep Music site</p>
    </article>

    <article>
        <h3><a href="http://sentimony.com" target="_blank">Sentimony Records</a></h3>
        <p>Web development of Sentimony Records site</p>
    </article>

    <article>
        <h3><a href="http://lookinglook.com" target="_blank">Lookinglook Records</a></h3>
        <p>Web development of Lookinglook Records site</p>
    </article>

</section>

