/*-------------------------------------------------------------------------*/
/* # FOOTER
/*-------------------------------------------------------------------------*/
section.works {
	margin-top: 100%;
	text-align: left;
	padding: 60px 10%;
	width: 100%;
	background-image:repeating-linear-gradient(135deg, transparent, transparent 4px, rgba(255,255,255,.1) 4px, rgba(255,255,255,.1) 8px);
	@include box-sizing(border-box);

	h4 {
		// margin: 0;
	}

	article {
	display: block;
	margin-bottom: 30px;

		h3 {
			margin: 0;
		}
		p {
			margin: 0;
		}
	}
}

