.footer {
    padding: 120px 10%;
    width: 100%;
    box-sizing: border-box;

    &__title {
        color: $accent-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.4;
        margin: 0 0 .75em;
    }

    &__menu {
        margin-bottom: 40px;
        // font-size: 0;

        a {
            display: inline-block;
            padding: 0 10px;
            // font-size: 14px;
            transition: color .25s ease;
        }

        &--contact {
            // margin-top: 80px;

            span[class^="icon-"] {
                position: relative;
                top: .1em;
            }
        }

        &--lang {
            // margin-top: 80px;
            // display: none;

            a {
                text-transform: uppercase;
            }
        }

        &--social {

            a {

                &.is-hiden {
                    display: none;
                }
                span[class^="icon-"] {
                    font-size: 24px;
                    margin-right: 8px;
                    vertical-align: middle;
                }

                span.link-name {
                    display: none;
                }
            }
        }
    }
}
