.footer {
    padding: 100px 10% 150px;
    width: 100%;
    box-sizing: border-box;

    &__title {
        color: $accent-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.4;
        margin: 0 0 .75em;
    }

    &__menu {
        margin-bottom: 40px;

        a {
            display: inline-block;
            margin: 0 10px;
        }

        &--lang {
            margin-top: 80px;

            a {
                text-transform: uppercase;
            }
        }

        &--social {

            a {

                &.is-hiden {
                    display: none;
                }

                i.fa {
                    font-size: 24px;
                    margin-right: 8px;
                    vertical-align: middle;
                }

                span {
                    display: none;
                }
            }
        }
    }
}
