/*-------------------------------------------------------------------------*/
/* # REFILLS PAGE
/*-------------------------------------------------------------------------*/


/**
* fractal
* ----------------------------------------------------------------------------
*/
.centered-navigation {
	@include outer-container;
}

.parallax-window {
	@include outer-container;
	margin-bottom: 60px;
}

.cards {
	@include outer-container;
	margin-bottom: 40px;
}

.type-system-geometric {
	@include outer-container;
	margin-bottom: 60px;
}

.footer-2 {
	@include outer-container;
}