// basic
html {
    position: relative;
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-align: center;
    margin-bottom: 60px;
}

//  typography
.gigantic,
.huge,
.large,
.bigger,
.big, 
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $accent-color;
    font-weight: 700;
    text-transform: uppercase;
}

.huge,
h1 {
    font-size: 42px;
    line-height: 1.4;
}

.large,
h2 {
    font-size: 34px;
    line-height: 1.4;
}

.bigger,
h3 {
    font-size: 26px;
    line-height: 1.4;
}

.big,
h4 {
    font-size: 16px;
    line-height: 1.4;
}

.small,
small {
    font-size: 10px;
    line-height: 1.2;
}

p {
    margin: 0 0 20px;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 10px 0 30px;
    height: 0;
}

a {
    color: $link-color;
    text-decoration: none;
    outline: 0;

    &:hover,
    &:focus {
        color: $link-color-hover;
    }
}

// selection color
::selection {
  background: $selection-color;
}

::-moz-selection {
  background: $selection-color;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $selection-color;
}
