// ============================ fonts ============================
// @import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic';

// ============================ coriolan variables ============================
// Body
$bodyBg: #111;
$bodyFont: 400 14px/1.3 'Lucida Grande', 'Tahoma', 'Verdana', 'Arial', sans-serif, 'Roboto', Helvetica, Arial, sans-serif;
$bodyColor: #9c9ca8;

// // Grid
// $gridIndent: 8px;

// Breakpoints
// $S: 508px;
// $M: 754px;
// $L: 1054px;
// $XL: 1300px;
// $XXL: 1792px;

// ============================ project variables ============================
$primary-color: #54bebe;

$text-color: #ccc;
$accent-color: lighten($text-color, 10%);

// $bg-color: #111;

$link-color: darken($text-color, 15%);
$link-color-hover: lighten($link-color, 30%);

$selection-color: #8e44ad;

$divider-color: #333;

