.footer {
    padding: 100px 10% 150px;
    width: 100%;

    h4 {
    }

    nav {
        margin-bottom: 30px;

        p {
            margin: 0;
        }

        a {
            display: inline-block;
            margin: 0 10px; 
        }

        &.menu {
            display: none;
        }

        &.social {
            a {
                font-size: 24px;
                &.hide {
                    display: none;
                }
                i.fa {
                    
                }
                span {
                    display: none;
                }
            }
        }
    }
}

