---
layout: default
permalink: /svg/
---

<svg class="svg-clipping">
    <clipPath id="clipping">
        <polygon class="st2" points="175,119 186.9,97.7 175,77.1 175,52.2 153.5,39.9 142,20 118.8,20 97.3,7.7 76.2,20 52.4,20 
            40.5,40.9 20,52.9 20,77 8.1,98 20,118.6 20,142.8 40.7,154.6 53.1,176 78.2,176 98.1,187.3 117.3,176 142.9,176 155.6,153.5 
            174.9,142.1"/>
    </clipPath>
</svg>

<div class="svg-experiments">
    <div class="race-wrapper">

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/human.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">human</span>
        </a>

        <a href="#" class="race race-selected">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/alkari.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">alkari</span>
        </a>

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/mrrshan.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">mrshan</span>
        </a>

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/bulrathi.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">bulrathi</span>
        </a>

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/sakkra.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">sakkra</span>
        </a>

        <div href="#" class="race">
            {% include svg/moop/race_background.svg %}
            {% include svg/moop/race_icon-gnolam.svg %}
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">gnolam</span>
        </div>

        <div href="#" class="race">
            {% include svg/moop/race_background.svg %}
            {% include svg/moop/race_icon-klackon.svg %}
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">klackon</span>
        </div>

        <div href="#" class="race">
            {% include svg/moop/race_background.svg %}
            {% include svg/moop/race_icon-meklar.svg %}
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">meklar</span>
        </div>

        <div href="#" class="race">
            {% include svg/moop/race_background.svg %}
            {% include svg/moop/race_icon-psilons.svg %}
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">psilons</span>
        </div>

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/darlok.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">darlock</span>
        </a>

        <a href="#" class="race">
            {% include svg/moop/race_background.svg %}
            <svg class="race_avatar">
                <image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/terran.png" width="195" height="196" style="clip-path:url(#clipping);"/>
            </svg>
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">terran</span>
        </a>

        <div href="#" class="race">
            {% include svg/moop/race_background.svg %}
            {% include svg/moop/race_icon-trillarians.svg %}
            {% include svg/moop/race_border.svg %}
            {% include svg/moop/race_border-selected.svg %}
            <span class="race_title">trillarians</span>
        </div>

    </div>

    {% include svg/premium_ic.svg %}
    {% include svg/all_races_BB_merge.svg %}
    {% include svg/all_races_BG_white.svg %}
    {% include svg/all_races_SB_merge.svg %}

</div>




