---
layout: default
permalink: /svg/
---

<svg class="svg-clipping">
	<clipPath id="clipping">
		<polygon id="Star-1" points="98.4999978 153.75 38.2520165 185.424245 49.7583542 118.337123 1.01670635 70.8257603 68.3760155 61.037872 98.5000012 1.1379786e-14 128.624005 61.0378871 195.98331 70.8258091 147.241642 118.337136 158.747982 185.424247"/>
	</clipPath>
</svg>

<div class="svg-experiments">
	<div class="race-wrapper">

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/terran.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">terran</span>
		</a>

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/bulrathi.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">bulrathi</span>
		</a>

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/human.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">human</span>
		</a>

		<a href="#" class="race race-selected">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/alkari.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">alkari</span>
		</a>

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/sakkra.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">sakkra</span>
		</a>

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/mrshan.png" width="195" height="196" style="clip-path:url(#clipping);"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">mrshan</span>
		</a>

		<a href="#" class="race">
			{% include /svg/race_background.svg %}
			<svg class="race_avatar">
				<image xlink:href="{{ site.baseurl }}/assets/img/svg-experiments/reworked/darlock.png" width="195" height="196" style="clip-path:url(#clipping);width:195px;height:196px;"/>
			</svg>
			{% include /svg/race_border.svg %}
			{% include /svg/race_border-selected.svg %}
			<span class="race_title">darlock</span>
		</a>

	</div>
</div>




